{% extends "layouts/layout-dashboard.twig" %}
         {% set page_group = "dashboard" %}

         {% block page %}
             {% set page = page | merge({
                 "title"       : "Shipments",
                 "description" : "A list of your Shipments."
             }) %}
             {{ parent() }}
         {% endblock %}

         {% block content %}
         <h1>Your Shipments:</h1>
         <br>
         <div class="form-group">
            <label for="trackingnumber">Add Tracking Number:</label>
            <input type="text" class="form-control" id="trackingnumber" style="width:300px">
        </div>



        {% endblock %}
