{% extends "layouts/layout-dashboard.twig" %}
         {% set page_group = "dashboard" %}

         {% block page %}
             {% set page = page | merge({
                 "title"       : "Shipments",
                 "description" : "A list of your Shipments."
             }) %}
             {{ parent() }}
         {% endblock %}

         {% block content %}
         {{test}}
         <h1>Your Shipments:</h1>
         <br>
         <div class="form-group">
             <label for="trackingnumber">Add Tracking Number:</label>
             <input type="text" class="form-control" id="trackingnumber" style="width:300px">
         </div>
         <table>
        <tr style="font-weight:bold;font-size:15px">
            <td style= "padding-bottom:10px;">#</td>
            <td style="padding-bottom:10px;padding-left:20px;">Tracking Number</td>
            <td style="padding-bottom:10px;padding-left:20px;">Shipment Date</td>
            <td style="padding-bottom:10px;padding-left:20px;">Shipment Origin</td>
            <td style="padding-bottom:10px;padding-left:20px;">Shipment Destination</td>
            <td style="padding-bottom:10px;padding-left:20px;">Current Location</td>
            <td style="padding-bottom:10px;padding-left:20px;">Estimated Time of Arrival</td>
        </tr>
        {% set increment = 1 %}
         {% for trackingNumber in trackingNumbers %}
         <tr>
             <td>{{increment}}.</td>
             <td style="padding-left:20px">{{trackingNumber.trackingNumber}}</td>
        </tr>
        {% set increment = increment + 1 %}
         {% endfor %}
        </table>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        {% endblock %}
