# This file itself
.gitignore

# OS junk
.DS_Store
[Tt]humbs.db

# Composer and Google API
composer.phar
quickstart.php
vendor/*
client_secret.json

# VIM swap files
.*.swp

# Personal emails on tests
messages/*

# API Key, User ID, Password
API_*.txt
User_ID.txt
Password.txt
