{% extends "layouts/layout-dashboard.twig" %}
            {% set page_group = "dashboard" %}

            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Link Account",
                    "description" : "A page to link your gmail account."
                }) %}
                {{ parent() }}
            {% endblock %}

            {% block page_scripts%}
	    
		<script>
		$('#signinButton').click(removeAccount);

		function removeAccount() {
			$('#signinButton').attr('style', 'display: none');
			var csrf_token = $("meta[name=csrf_token]").attr("content");
			console.log(csrf_token);
			var toPost = { "csrf_token":csrf_token };	
			$.ajax({
				type: 'POST',
				url: 'http://wheresmyship.com/removeAccount',
				data: toPost,
				dataType: "json"
			});
  			window.location.href = "linkaccount";
		}
		</script>
	    {% endblock %}

	    {% block content %}
                <div class="row">
    		  <div class="col-lg-12">
        	    <h1 class="page-header">Remove Account</h1>
    		  </div>
    		  <!-- /.col-lg-12 -->
		</div>               
		<h1 class="panel-title">Click the button below to remove your Gmail account.</h1>
		<div align="center">
			<br>
			<button align="center" type="submit" class="btn btn-success text-center" id="signinButton">Remove Account</button>
    		</div>
		<br>
<br><br><br><br><br><br><br><br><br><br><br><br>
    		
            {% endblock %}
